/* override react-confirm-alert css styles */

.react-confirm-alert-body-element {
  overflow: hidden;
}

.react-confirm-alert-blur {
  filter: url(#gaussian-blur);
  filter: blur(2px);
}

.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  backdrop-filter: blur(10px);
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
  width: 400px;
  padding: 30px;
  text-align: center;
  background: #191414;
  border: 2px solid #19823E;
  border-radius: 10px;
  box-shadow: 0 20px 75px #00000021;
  color: white;
}

.react-confirm-alert-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.react-confirm-alert-body > h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
}

.react-confirm-alert-body > h3 {
  margin-top: 10px;
  font-size: 16px;
}

.react-confirm-alert-button-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.react-confirm-alert-button-group > button {
  outline: none;
  background: #3f3f46;
  border: none;
  display: inline-block;
  padding: 6px 18px;
  color: #eee;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 700ms;
}

.react-confirm-alert-button-group > button:hover:not(.remove) {
  background: #52525b;
}

.react-confirm-alert-button-group > button.remove {
  background: #b91c1c;
}

.react-confirm-alert-button-group > button.remove:hover {
  background: #dc2626;
}

@-webkit-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
